.checkbox-label input {
  width: 20px;
  height: 20px;
  border: 2px solid #c7c8d2;
  border-radius: 4px;
  margin-right: 12px;
}

.checkbox-label {
  display: flex;
  /* align-items: center; */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  padding-left: 12px;
  color: #2b2b43;
}

.checkbox-wrapper {
  width: 340px;
  height: 34px;
}
