.reviews-wrapper {
  width: 800px;
  /*height: 860px; */
  background-color: #697bff;
  font-family: "Nunito", sans-serif;
  /**/
  /* width: 55vw; */
}

.img-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 68px;
}

.img1 {
  width: 313px;
  height: 436px;
  margin: 48px 27px 0 95px;
}

.img2 {
  width: 294px;
  height: 279px;
  margin-top: 80px;
}

.img3 {
  width: 618px;
  height: 132px;
  margin: -54px 0 0 65px;
}
.review-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review-info h3 {
  font-family: "Nunito", sans-serif;

  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: white;
}

.review-info p {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: white;
  margin-top: 20px;
  width: 480px;
}

.slider {
  width: 56px;
  height: 8px;
  margin: auto;
  justify-content: space-between;
  display: flex;
}

.slider span {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 30%);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.slider span:hover {
  background-color: white;
}
