.single-category-wrapper {
  width: 160px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  padding-top: 14px;
  border: 1px solid #edeef2;
  border-radius: 16px;

  font-family: "Nunito", sans-serif;
  color: #545563;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}

.single-category-wrapper:hover {
  background: #f8f9ff;
  border: 1px solid #697bff;
}
.activeClass {
  background: #f3f4ff;
  border: 2px solid #4e60ff;
}
