.settings-item {
  width: 350px;
  height: 72px;
  border-radius: 16px;
  border: 1px solid #edeef2;
  display: flex;
  align-items: center;
  padding-left: 16px;
  font-family: "Nunito", "Sans";
}

.settings-img {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #edeef2;
}

.settings-info {
  margin-left: 12px;
  margin-top: 16px;
}

.settings-info h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.settings-info p {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #545563;
}

.settings-item-active {
  width: 350px;
  height: 72px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  background: #f3f4ff;
  border: 2px solid #4e60ff;
}

.settings-img-active {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #4e60ff;
}
