.loginForm-wrapper {
  width: 640px;
  padding-left: 165px;
  padding-top: 20px;
}

.form-wrapper {
  width: 350px;
  margin-top: 100px;
}
.form-wrapper div:first-child {
  min-height: 120px;
}

.form-wrapper h3 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  padding-top: 50px;
  padding-left: 20px;
  color: red;
}

.form-wrapper h2 {
  font-family: "Nunito", sans-serif;

  font-size: 60px;
  color: #2b2b43;
}

.form-wrapper p {
  font-family: "Nunito", sans-serif;

  font-size: 14px;
  line-height: 20px;
  color: #545563;
}

.signup a {
  text-decoration: none;
  cursor: pointer;
  color: #4e60ff;
  font-weight: 600;
}

.signup {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;

  margin-bottom: 40px;
  margin-top: 50px;
  color: #545563;
  display: flex;
  justify-content: center;
}

.children h3 {
  border-collapse: green;
  color: red;
}
