.account-item-wrapper {
  width: 730px;
}
.acc-p {
  font-family: "Nunito", "Sans";
  font-size: 20px;
  font-weight: 600;
  color: #2b2b43;
  margin-bottom: 16px;
  margin-top: 24px;
}
.account-item-wrapper {
  width: 730px;
  border: 1px solid #edeef2;
  padding-left: 16px;
  border-radius: 16px;
  position: relative;
}

.account-item-wrapper h3 {
  color: #2b2b43;
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 16px;
  font-family: "Nunito", "Sans";
}

.account-item-wrapper > p {
  font-size: 12px;
  font-family: "Nunito", "Sans";
  font-weight: 600;
  color: #545563;
}

.img-btn-wrapper {
  /* border: 1px solid red; */
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.img-btn-wrapper input {
  display: none;
}

.img-btn-wrapper img {
  width: 88px;
  height: 88px;
  border-radius: 12px;
}

.remove {
  width: 86px;
  height: 44px;
}

.remove button {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 700;
  color: #83859c;
  background: #ffffff;
  border: none;
}

.change {
  width: 83px;
  height: 44px;
}

.change button {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #4e60ff;
  color: #4e60ff;
  font-size: 14px;
  font-weight: 700;
}

.settings {
  margin-bottom: 48px;
  margin-top: 24px;
}

.account-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.notif-form {
  width: 730px;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
}

.acc-btns {
  border-top: 1px solid #edeef2;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 16px;
  border-top: 1px solid #edeef2;
  position: absolute;
  left: 0px;
}

.logout {
  height: 44px;
  width: 84px;
  border-radius: 8px;
}

.logout button {
  width: 100%;
  height: 100%;
  border: 1px solid #ff5c60;
  border-radius: 8px;
  background-color: white;
  color: #ff5c60;
  font-size: 14px;
  font-weight: 700;
}

.discard {
  height: 44px;
  width: 143px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  color: #83859c;
  background-color: white;
  border: 1px solid #83859c;
}

.save :nth-child(2) {
  height: 44px;
  width: 124px;
  border-radius: 8px;
  background: #4e60ff;
  font-size: 14px;
  font-weight: 600;
  color: white;
  border: none;
}

.save {
  width: 350px;
  display: flex;
  justify-content: space-evenly;
}

input[type="checkbox"] {
  accent-color: #4e60ff;
}
