.login-btn {
  margin-top: 40px;
  width: 350px;
  height: 44px;
  background: #4e60ff;
  border-radius: 8px;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.3px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  /**/
  width: 100%;
}

.pass-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 350px;
  height: 44px;
  background: transparent;
  border: none;
  color: #4e60ff;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 14px;

  cursor: pointer;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3px;
  /**/
  width: 100%;
}
