.InputAccount-wrapper label {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  color: #545563;
  margin: 20px 0;
}

.InputAccount-wrapper input {
  width: 341px;
  height: 45px;
  border: 1px solid #c7c8d2;
  border-radius: 8px;
  margin-top: 5px;
}

.InputAccount-wrapper input::placeholder {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
