.modal {
  border: 1px solid red;
  width: 400px;
  min-height: 250px;
  position: absolute;
  top: 90px;
  left: 87%;
  transform: translate(-50%, 0);
  background-color: white;
}

.modal-item {
  display: flex;
  justify-content: space-around;
  border: 1px solid #edeef2;
  border-radius: 16px;
  font-size: 18px;
  font-family: "Nunito", "Sans";
}

.modal-item p:nth-child(1) {
  width: 180px;
}

.modal-item p:nth-child(3) {
  cursor: pointer;
}
