.single-restaurant-wrapper {
  width: 350px;
  height: 276px;
  margin-top: 16px;
  border-radius: 16px;
  border: 1px solid #edeef2;
  position: relative;
  margin: 10px;
}
.restImage img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-bottom: 16px;
}

.featured {
  width: 94px;
  height: 32px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -1px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  background-color: white;
}

.feature-active {
  background: #4e60ff;
  color: white;
}

.featured p {
  font-size: 11px;
  font-family: "Nunito", "Sans";
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.6000000238418579px;
}

.rest-name-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 18px;
  padding-left: 16px;
  font-family: "Nunito", "Sans";
}

.rest-name-wrapper img {
  width: 20px;
  height: 20px;
  cursor: pointer;

}

.time-wrapper {
  width: 230px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  margin-top: 6px;
  margin-bottom: 16px;
}

.clock {
  width: 12px;
  height: 12px;
}

.time-wrapper span {
  font-family: "Nunito", "Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #83859c;
}

.point {
  width: 3px;
  height: 3px;
}

.category {
  width: 180px;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
}
.category div {
  width: 70px;
  height: 24px;
  border-radius: 100px;
  background: #edeef2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Nunito", "Sans";
}

.category img {
  width: 12px;
  height: 12px;
}

.category span {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #545563;
}

.bag-wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #f3f4ff;
  position: relative;
  cursor: pointer;
}

.bag-wrapper div {
  font-size: 13px;
}
