header {
  display: flex;
  justify-content: space-between;
  padding-left: 165px;
  /* padding-right: 150px; */
}

.header-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

.header-input input {
  width: 224px;
}
