.header-right-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul {
  width: 400px;
  height: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-family: "Nunito", sans-serif;
}

.line {
  display: flex;
  height: 40px;
  padding-right: 20px;
  border-right: 2px solid #edeef2;
}

nav li a {
  font-size: 14px;
  font-weight: 700;
  text-align: right;
  color: #2b2b43;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.basket-wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #f3f4ff;
  position: relative;
}
.orders {
  width: 170px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  text-align: right;
  font-size: 14px;

  color: #2b2b43;
}
.orders button {
  border: none;
}
.sup {
  width: 20px;
  position: absolute;
  top: -5px;
  right: -5px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4e60ff;
  border-radius: 8px;
  color: white;
}

.profile-wrapper {
  border: 3px solid #f3f4ff;
  border-radius: 16px;
  width: 50px;
  height: 50px;
}

.active {
  border-bottom: 2px solid #4e60ff;
}
