.input-wrapper {
}
.label {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  color: #545563;
  margin: 20px 0;
}

.label input {
  width: 350px;
  height: 45px;
  border: 1px solid #c7c8d2;
  border-radius: 8px;
  margin: 2px 0;
  /**/
  width: 100%;
}
.label input::placeholder {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* margin-left: 3px; */
  /* display: flex;
  align-items: center;
  letter-spacing: 0.1px; */
}
