.cake-cn {
  background: #f3f4ff;
  width: 540px;
  display: flex;
  justify-content: space-around;
  border-radius: 16px;
}

.burger-cn {
  width: 540px;
  display: flex;
  justify-content: space-around;
  border-radius: 16px;
  background: #fff3ed;
}

.ad-children-wrapper {
  font-family: "Nunito", sans-serif;
  padding: 24px 0 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.ad-children-wrapper p:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
  color: #2b2b43;
}

.ad-children-wrapper h2:nth-child(2) {
  font-weight: 700;
  font-size: 40px;
}

.off20 {
  color: #4e60ff;
}
.off50 {
  color: #fd6d22;
}

.ad-children-wrapper p:nth-child(3) {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #83859c;
}
