.settings {
  width: 350px;
  height: 368px;
}

.settings p {
  font-family: "Nunito", "Sans";
  font-size: 20px;
  font-weight: 600;
  color: #2b2b43;
  margin-bottom: 16px;
}

.settings-items-wrapper {
  width: 350px;
  height: 324px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
